h1 {
	color: lime;
	height: 10px;
	font-family: 'Trebuchet MS';
}

p {
	color: red;
	height: 5%;
	font-family: 'serif';
	align-self: center;
}

img {
	border: 2px 2px 2px 2px;
}

th {
	font-weight: bold;
	color: gold;
}

body {
	background-color: darkslategray;
	/*opacity: 0.6;*/
}

.inline-child {
	display: inline;
}
